<?xml version="1.0"?>
<launch>

  <arg name="use_sim_time" default="true"/>

  <!-- start up playpen world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find omni_gazebo)/worlds/clearpath_playpen.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find omni_description)/urdf/cheng.urdf.xacro'"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  </node>

  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

  <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot" />

  <!-- AMCL -->
  <include file="$(find omni_navigation)/launch/husky/amcl.launch"/>

  <!-- move_base -->
  <!--include file="$(find omni_navigation)/launch/move_base.launch">
  </include-->

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find omni_navigation)/rviz/turtlebot3_navigation.rviz"/>

</launch>
